.header{
  max-width: 1600px;
  max-height: 750px;
  padding: 50px 80px 200px;
  background: #ffffff url(../img/header/ColorFill.png) center/cover no-repeat;
  color: white;
  &_title{
    display: flex;
    justify-content: space-between;
    .logo{
      display: flex;
      &_logoImg{}
      &_logoText{
        text-transform: uppercase;
      }
    }
    .menu{
      display: flex;
      align-items: flex-end;
      ul{
        list-style: none;
        display: flex;
        flex-basis: 40%;
        align-items: end;
        li{
          margin-right: 30px;
        }
        a{
           display: block;
           color: white;
           text-decoration: none;
           width: 100%;
           height: 100%;
        }
        a:hover{
          color: black;
        }
      }
    }
    .signUpBTN{
      width: 78px;
      height: 23px;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 2px;
      background: none;
    }
  }
  &_elements{
    display: flex;
    .info{
      flex-basis: 600px;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span{
          font-size: 18px;
          font-family: "Raleway";
          color: rgb(255, 255, 255);
          line-height: 1.944;
          text-align: left;
          //width: 580px;
          //height: 88px;
      }
      h1{
        text-transform: uppercase;
        font-size: 55px;
        font-weight: bold;
      }
      &_buttons {
        button {
          height: 60px;
          background: white;
          border-radius: 5px;
          border: none;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .buy_now {
          width: 150px;
        }

        .try_for_free {
          width: 150px;
          margin-left: 30px;
        }

        .buy_now:hover, .try_for_free:hover {
          background: black;
          color: white;
        }
      }
      .video {
        flex-basis: 600px;
      }
    }
  }
}