.header{
  width: 900px;
  background: #ffffff url(../img/header/ColorFill.png) no-repeat;
  background-size: contain;
  &_title{
    display: flex;
    justify-content: space-between;
    .logo{
      display: flex;
    }
    .menu{
      display: flex;
      align-items: flex-end;
      ul{
        list-style: none;
        display: flex;
        flex-basis: 40%;
        align-items: end;
        li{
          margin-right: 10px;
        }
        a{
           display: block;
           text-decoration: none;
           width: 100%;
           height: 100%;
         }
      }
    }
    .signUpBTN{
    }
  }
  &_elements{
    .info{
      width: 20%;
        &_buttons{

        }
    }
  }


  button{
    border-radius: 5px;
  }
}