@font-face {
    font-family: Segoe;
    src: url(../fonts/SegoeWPLight.ttf);
}
body {
    width: 60vw;
    margin: 0;
    padding: 3vh 20vw;
    background: white;
    position: absolute;
    font-family: Segoe;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
header{
    display: flex;
    Justify-content: space-between;
    align-items: flex-end;
}
header,main,footer{
    width: 100%;
    min-width: 20%;
}
footer{
    display: flex;
    justify-content: center;
}
ul {
     list-style: none;
     margin: 0 auto;
 }
a {
    align-self: center;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid white;
}
A:link {
      color: black;
  }
A:visited {
    color: black;
}
A:hover {
    color: black;
}
A:active {
    color: black;
}
h2{
    margin: 0;
}
.navbar ul{
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 0 5vw 5px 0;
}
.navbar a {
    padding: 5px;
    display: block;
}
.navbar a:hover {
    border-bottom: 2px solid blue;
}
.baner{
    width: 100%;
    background:white url(../img/baner/background.png) center ;
    height: 50%;
    margin: 0 0 1vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.baner_Arrow-Left{
    height: 80px;
    content: url(../img/baner/toLeftArrow.png);
}
.baner_Arrow-Right{
    height: 80px;
    content: url(../img/baner/toRightArrow.png);
}
.baner_Arrow-Left:hover, .baner_Arrow-Right:hover{
    transform: scale(1.2);
}
.baner_product{
    position: relative;
    transform: scale(0.8);
    height: 100%;
    content: url(../img/baner/iphone.png);
}
.baner_product:hover {
    -webkit-animation: 0.1s tremor ease-out infinite;
    animation: 100ms tremor ease-out infinite;
/*    !* Продолжительность анимации *!
    -webkit-animation-duration: 200ms;
    -moz-animation-duration: 200ms;
    -o-animation-duration: 200ms;
    animation-duration: 200ms;*/
}
@-webkit-keyframes tremor {
    0%,50% {
        left: 1px;
        right: 1px;
        /*left: -1px;
        top:-1px;*/
        /*-webkit-transform: translateX(-1px);
        transform: translateX(-1px);*/
    }
    50%,100% {
        left: -1px;
        right: -1px;
        /*left: 1px;
        top: 1px;
        -webkit-transform: translateX(1px);
        transform: translateX(1px);*/
    }
}
.baner_info{
    display: flex;
    flex-basis: auto;
    flex-flow: column;
}
.baner>.baner_info>article{
    width: 60%;
    padding: 10px 0;
}
.baner_info-button{
    width: 50%;
    padding: 5px;
    border: none;
    background: #5094f2;
    display: flex;
    align-items: center;
}
.baner_info-button:hover{
    background: #a0c5f8;
}
.baner_info-button_logo{
    content: url(../img/baner/buttonLogo.png);
}
.elements{
     display: flex;
     flex-flow: row wrap;
     flex: 1 1 100%;
     /*flex-basis: 100%;*/
     Justify-content: space-between;
}
.elemOne,.elemTwo,.elemThree{
    width: 186px;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.product{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    font-family: Segoe;
    justify-content: space-between;
    flex-basis: 100%;
}
.product_Img-Block{
    flex: 1 1 20%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.product_Text-Block{
    padding: 5vh;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
}

.logoDiv{
    display: flex;
    align-items: flex-end;
}
.logo{
    content: url(../img/header/logo.png);
}
.logo_Text{
    font-size: 40px;
}
.elemOne_Img-Background{
    background-color: #5094f2 ;/*url(../img/elem1/Img_background.png) center no-repeat;*/
}
.elemTwo_Img-Background{
    background-color: #d94748 ;/*url(../img/elem2/Img_background.png) center no-repeat;*/
}
.elemThree_Img-Background{
    background-color: #ebbb11 ;/*url(../img/elem3/Img_background.png) center no-repeat;*/
}
.elemOne_Img-Background,.elemTwo_Img-Background, .elemThree_Img-Background{
    width: 186px;
    height: 186px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elemOne_Img{
    content: url(../img/elem1/img_logo.png);
}
.elemTwo_Img{
    content: url(../img/elem2/img_logo.png);
}
.elemThree_Img{
    content: url(../img/elem3/img_logo.png);
}
/*.product_Img{
    background: white url(../img/product/cart.png) center no-repeat;
    width: 371px;
    height: 279px;
    transform: scale(0.6);
}*/

.product_Img{
    content: url(../img/product/cart.png);
}
