@font-face {
    font-family: Segoe;
    src: url(../fonts/SegoeWPLight.ttf);
}
body {
    margin: 0;
    padding: 5% 30%;
    background: white;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
header{
    width: 100%;
    min-width: 50%;
    display: flex;
    Justify-content:space-around;
    padding-bottom: 10px;
}
main{
    width: 100%;
    min-width: 50%;
}
footer{
    width: 100%;
    min-width: 50%;
    display: flex;
    justify-content: center;
}
ul {
     list-style: none;
     margin: 0 auto;
 }
a {
    align-self: center;
    display: block;
    text-decoration: none;
}
.navbar ul{
display: -webkit-flex;
display: flex;
flex-flow: row wrap;
/*background: #FFD7A7;*/
padding-left: 0;
}
.navbar a {
padding: 1em;
display: block;
}
.navbar a:hover {
    border-bottom: 1px solid blue;
}
.baner{
    width: 100%;
    background:white url(../img/baner/background.png) center no-repeat;
    flex-basis: 100%;
    height: 100px;
}
.navbar,.elements,.product{
     display: flex;
     flex-flow: row wrap;
     flex: 1;
}
.elements, .navbar{
    Justify-content: space-between;
}
.product{
    font-family: Segoe;
}

.header>.logo{
    background-image: url(../img/);
}

/*ctrl+alt_j > emmet >*/