@font-face {
    font-family: Segoe;
    src: url(../fonts/SegoeWPLight.ttf);
}
body {
    background-image: url(../img/background.jpg);
    width: 600px;
    height: 900px;
    position: absolute;
    padding: 0 10%;
    display: flex;
    flex-flow: column;
}

header{
    display: flex;
    Justify-content:space-around;
}
ul{
    list-style: none;
    margin: 0;
}
li{
    padding-right: 10px;
}

a {
    text-decoration: none;
}
.navbar,.elements,.product{
     display: flex;
     flex-flow: row wrap;
     flex: 1;
}
.navbar,.elements{
    Justify-content:space-around;
}
.product{
    font-family: Segoe;
}

footer{
    display: flex;
    justify-content: center;
}

/*ctrl+alt_j > emmet >*/