.services{
  margin: 0 auto 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
  &_title{
    text-align: center;
    padding: 90px;
    line-height: 1.667;
  }
  &_infoBlocks>div{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    //width: 800px;
    //height: 240px;
  }
  &_infoBlocks .title{
    padding: 25px 20px 25px 25px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &_infoBlocks .content{
    display: none;
    padding: 0 20px 25px 25px;
    flex-wrap: wrap;
  }
  &_infoBlocks>div:first-child>.content{
    display: flex;
  }

  &_infoBlocks .content_text{
    flex-basis: 60%;
    line-height: 1.667;
  }

  .title div>img{
    float: left;
    margin-right: 20px;
  }

  .title>div:first-child{
    flex-basis: 30%;
  }
}

.statistics_title_img{
  content: url("../../img/services/statistics.png");
}
.statistics .content .content_img{
  content: url("../../img/services/phone.png");
  margin-right: 25px;
}
.inbox_title_img{
  content: url("../../img/services/mail.png");
}
.team_title_img{
  content: url("../../img/services/team.png");
}
.settings_title_img{
  content: url("../../img/services/settings.png");
}
.feed_title_img{
  content: url("../../img/services/rss_feed.png");
}

